@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/css")
    
    <div class="jumbotron">
        <h1>Hospital Management</h1>
        <p class="lead">Hospital Management is one of the most recent concepts in the field of management courses.</p>
        <p class="lead">It is the most important & lucrative career in the health sector.</p>
        
    </div>
    

<div class="row">
    <div class="col-md-4">
        <h2 class="bg-primary img-rounded text-center">Services</h2>
        <p class="lead">
            24x7x365 service to simplify the coordination of care and flow of information among patients and physicians
        </p>
        <p>
            1 million health plan members serviced annually.Leveraging analytics to balance cost with quality.    </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="bg-primary img-rounded text-center">Patients</h2>
        <p class="lead">Patients and healthcare payers expect high-quality services from healthcare providers, today.</p>
        <p>As a result, the need for enhanced, patient-centric medical services has increased. World-class patient care at optimal pricing is the norm.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="bg-primary img-rounded text-center">Doctors</h2>
        <p class="lead">Geriatric Medicine Specialists</p>
        <p>These doctors care for the elderly. They can treat people in their homes, doctors' offices, nursing homes, assisted-living centers, and hospitals.</p>
        <p>Have problems with your skin, hair, nails? Do you have moles, scars, acne, or skin allergies? Dermatologists can help.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <hr/>
    
    <div class="btn-group-lg">
        <div style="float:left;margin-left:20px;border-radius:50%;">
            <img src="~/Content/css/Images/hms.jpeg"  height="250" width="320"/>
        </div>
        <div style="float:left;margin-left:70px;">
            <img src="~/Content/css/Images/patients.jpg" height="250" width="320" />
        </div>
        <div>
            <img src="~/Content/css/Images/doctor.jpg" height="250" width="300" style="margin-left:100px;" />
        </div>
        
    </div>
</div>